body {
  font-family: "Poppins", sans-serif;

  @media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1260px;
    }
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:active {
    color: #3f3797;
  }

  .btn-primary {
    background: #302a69;
    font-weight: 600;
    font-size: 20px;
    color: #f7f7f7;
    border-radius: 10px;

    &:hover {
      background: #3f34a7;
      border-color: #231e50;
    }
  }

  .btn-warning {
    background: #ff7115;
    font-weight: 600;
    font-size: 15px;
    color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .btn-outline-light {
    background: #f6f9ff;
    font-weight: 600;
    font-size: 15px;
    color: #302a69;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

.page-content {
  margin-top: 180px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
